
.container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.user{
  background-color: #000;
  border-radius: 10px;
  min-width: 250px;
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;

}

.user .image {
  border-radius: 8px;
}

.info li{
  color: grey;
  font-size: 0.8rem;
  list-style: none;
}

.info li span{
  color: #fff;
  font-size: 1rem;
  margin-left: 1rem;
}

